# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Linux binary
cse-server-go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Client build directory and artifact
resources/public/static/js/compiled/*

# Conan output
include/
dist/
conan_imports_manifest.txt
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml

target

.nrepl-port
figwheel_server.log
